<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="www.thymeleaf.org">
<head th:replace="components :: head(${page}, ~{::meta})">
  <meta charset="UTF-8">
</head>
<body>
    <div class="page-container">
        <th:block th:replace="components :: header"></th:block>
        <main class="content">
        	<th:block th:each="row : ${podcastRows}">
        		<th:block th:replace="components :: podcast-row(${row})"></th:block>
        	</th:block>
        </main>
    </div>
    
  	<th:block th:replace="components :: scripts(${page})"></th:block>
    <script>
        $(document).ready(() => {
            function handleWindowResizeCaroulse() {
                $('.podcasts-row-container').map((i, pdcRow) => {
                    let itemsTotalWidth = 0;

                    $(pdcRow).children().map((i, pdcItem) => {
                        itemsTotalWidth += pdcItem.clientWidth + 30 // margin-right
                    })

                    if(itemsTotalWidth > pdcRow.clientWidth && !$(pdcRow).hasClass('slick-initialized')) {
                        $(pdcRow).slick({
                            autoplay: true,
                            dots: false,
                            infinite: true,
                            speed: 500,
                            mobileFirst: false,
                            responsive: [
                                {
                                breakpoint: 9999,
                                settings: {
                                    slidesToShow: 5,
                                    slidesToScroll: 3,
                                }
                                },
                                {
                                breakpoint: 1300,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 2,
                                }
                                },
                                {
                                breakpoint: 900,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 1
                                }
                                },
                                {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    centerMode: true
                                }
                                },
                            ]
                        })
                    } else if(itemsTotalWidth <= pdcRow.clientWidth && $(pdcRow).hasClass('slick-initialized')) { 
                        try {
                            $(pdcRow).slick('unslick') 
                        } catch(e) {
                            return
                        }
                    }
                })
            }

            handleWindowResizeCaroulse()

            window.addEventListener('resize', handleWindowResizeCaroulse)
        })
    </script>
</body>
</html>