<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="www.thymeleaf.org"&gt;>
<head th:replace="components :: head(${page}, ~{::meta})">
  <meta charset="UTF-8">
</head>
<body>
<div class="page-container">
   <th:block th:replace="components :: header"></th:block>
      <main>
        <div id="podcast-header">
            <div id="podcast-cover">
                <img th:src="${podcast.cover}" alt="pdc_img">
            </div>
            <div id="podcast-info">
                <h1 th:text="${podcast.name}"></h1>
                <p th:text="${podcast.description}"></p>
            </div>
        </div>
        <div id="podcast-field">
            <div id="podcast-episodes">
                <h1 class="mb-4">Episódios</h1>
                <div id="podcast-episodes-list">
                	<th:block th:each="ep : ${episodes}">
                    	<th:block th:replace="components :: episode(${ep})"></th:block>
                	</th:block>
                </div>
            </div>
            <div id="podcast-creator">
            	<th:block th:replace="components :: user"></th:block>
            </div>
        </div>
      </main>

      <th:block th:replace="components :: player"></th:block>
  	  <th:block th:replace="components :: scripts(${page})"></th:block>
      <script>
          $(document).ready(() => {
            $('#select-cover').on('click', e => {
                $('input[type=file]').click()
            })
            
            // FUNÇÃO QUE FORMATA O TEMPO DE DURAÇÃO DOS EPISÓDIOS
            function format(time) {
                var hrs = ~~(time / 3600);
                var mins = ~~((time % 3600) / 60);
                var secs = ~~time % 60;
                
                var ret = "";
                if (hrs > 0) {
                    ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
                }
                ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                ret += "" + secs;
                
                return ret;
            }
            
            function formatDate(elDate) {
				console.log(elDate)
            	let date = new Date(elDate);
            	let formatedDate = ((date.getDate() )) + "/" + ((date.getMonth() + 1)) + "/" + date.getFullYear();
            	
            	return formatedDate
            }
            
            $('.episode-duration').map((i, el) => {
                el.textContent = format(el.textContent)
            });
            
            $('.episode-date').map((i, el) => {
				el.textContent = formatDate(el.textContent)
            })
            

            let currentEpisode
            let episodeQueue = {
                previousEpisode: null,
                nextEpisode: null
            }
            let audioEl = $('#player-container audio')
            let audioPlayer

            function handleEpisodeFetch(url, form_episode_id, method='POST') {
                return new Promise((resolve, reject) => {
                    fetch(url, {
                        method,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `form_episode_id=${form_episode_id}`
                    }).then(response => response.json()).then(res => {
                        resolve(res)
                    }).catch(err => reject(err))
                })
            }

            $('.episode').each((i, episodeEl) => {
                // FAZ A REQUISIÇÃO DO LIKE PARA O SERVIDOR
                $(episodeEl).find('.reaction-button').on('click', e => {
                    let button = e.currentTarget
                    button.disabled = true

                    let form_episode_id = episodeEl.dataset.episode_id

                    handleEpisodeFetch('/reaction', form_episode_id).then(res => {
                        $(button).toggleClass('liked')

                        button.disabled = false
                        
                        // AUMENTA OU DIMINUI O VALOR DO LIKE
                        let likeValueEl =  $(button).find('span')

                        if(res.like) {
                        	likeValueEl.text(Number(likeValueEl.text()) + 1)
                        } else {
                            likeValueEl.text(Number(likeValueEl.text()) - 1)
                        }
                    })
                })

                // DA O PLAY NO PODCAST QUANDO CLICADO NO CONTAINER DE EPISÓDIO
                $(episodeEl).find('.episode-play').on('click', e => { 
                    changeEpisode(episodeEl)
                })
            })

            addEventListener('audioPlayerReady', e => {
                currentEpisode = e.detail.newCurrentEpisode

                handleEpisodeQueue(currentEpisode)

                handleEpisodeFetch('/add-view', $(currentEpisode).data('episode_id')).then(res => {
                    let viewsEl = $(currentEpisode).find('.episode-views span')

                    viewsEl.text(Number(viewsEl.text()) + 1)
                }).catch(err => console.error(err))
            })

            // MODIFICA AS FILAS DE PRÓXIMOS E PRÉVIOS EP'S, ALÉM DE DESATIVAR OS BOTÕES CONFORMA A EXISTÊNCIA DE PRÓX. E PREV. EP'S
            function handleEpisodeQueue(ep) {
                episodeQueue.nextEpisode = $(ep).next().length ? $(ep).next() : null
                episodeQueue.previousEpisode = $(ep).prev().length ? $(ep).prev() : null

                $('.player-next-button').attr('disabled', (episodeQueue.nextEpisode == null))
                $('.player-previous-button').attr('disabled', (episodeQueue.previousEpisode == null))
            }

            function isAlreadyPlaying() {
                return audioPlayer.body.hasClass('audioplayer-playing')
            }

            function changeEpisode(episodeEl) {
                let audio_src = $(episodeEl).data('audio_src')

                // SE NENHUM EPISODIO AINDA FOI TOCADO, INICIA O PLAYER
                if(!currentEpisode) {
                    handlePlayerInitialization(audio_src, episodeEl)
                } else {
                    // MANIPULA A TROCA DE EPISÓDIOS
                    if(audioPlayer.audio.attr('src') != audio_src) {
                        isAlreadyPlaying() && audioPlayer.playPauseButton.click()
                        audioPlayer.audio.attr('src', audio_src)

                        dispatchEvent(new CustomEvent("audioPlayerReady", {
                            detail: {
                                newCurrentEpisode: episodeEl
                            }
                        }))
                    }
                }
            }

            function handlePlayerInitialization(audio_src, episodeEl) {
                // ELEVA O SITE PRA CIMA
                $('.page-container').css('padding-bottom', '80px')
                $('#player-container').css('bottom', '0')

                audioEl.attr('src', audio_src)

                $(function() {
                    audioEl.audioPlayer().then(playerEl => {
                        audioPlayer = {
                            body: $('.audioplayer'),
                            playPauseButton: $('.audioplayer-playpause'),
                            audio: $('.audioplayer audio')
                        }

                        audioPlayer.audio.on('loadeddata', e => {
                            audioPlayer.playPauseButton.click()
                        })
                        
                        $('.player-next-button').on('click', e => {
                            changeEpisode(episodeQueue.nextEpisode)

                            currentEpisode = $(currentEpisode).next().length ? $(currentEpisode).next() : currentEpisode
                        })

                        $('.player-previous-button').on('click', e => {
                            changeEpisode(episodeQueue.previousEpisode)

                            currentEpisode = $(currentEpisode).prev().length ? $(currentEpisode).prev() : currentEpisode
                        })

                        dispatchEvent(new CustomEvent("audioPlayerReady", {
                            detail: {
                                newCurrentEpisode: episodeEl
                            }
                        }))
                    });
                });
            }
          })
      </script>
  </body>
  </html>