<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="www.thymeleaf.org"&gt;>
<head th:replace="components :: head(${page}, ~{::meta})">
  <meta charset="UTF-8">
</head>
<body>
<div class="page-container">
   <th:block th:replace="components :: header"></th:block>
      <main>
        <div id="podcast-header">
            <div id="podcast-cover">
                <img src="https://yt3.ggpht.com/ytc/AAUvwnjs2A34JZ0bd5aHW1aAikt1IkHaj6mqO_sQ_MPOdQ=s900-c-k-c0x00ffffff-no-rj" alt="">
            </div>
            <div id="podcast-info">
                <h1>Flow Podcast</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur impedit, nostrum reprehenderit, pariatur facere enim soluta non at molestias neque nemo aliquam obcaecati </p>
            </div>
        </div>
        <div id="podcast-field">
            <div id="podcast-episodes">
                <h1 class="mb-4">Episódios</h1>
                <div id="podcast-episodes-list">
                    <div class="episode">
                        <button class="episode-play">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
                        </button>
                        <div class="episode-body">
                            <div class="episode-header">
                                <h1 class="m-0">Título do podcast</h1>
                                <span><strong>53:48</strong></span>
                            </div>
                            <div class="episode-footer">
                                <div class="episode-views">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/></svg>
                                    <span>2153</span>
                                </div>
                                <div class="episode-reactions">
                                    <button class="reaction-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                                        <span>451</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode">
                        <button class="episode-play">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
                        </button>
                        <div class="episode-body">
                            <div class="episode-header">
                                <h1 class="m-0">Título do podcast</h1>
                                <span><strong>53:48</strong></span>
                            </div>
                            <div class="episode-footer">
                                <div class="episode-views">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/></svg>
                                    <span>2153</span>
                                </div>
                                <div class="episode-reactions">
                                    <button class="reaction-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                                        <span>451</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="podcast-creator">
                <div id="creator">
                    <h1 class="mb-0">José Silva</h1>
                    <!-- CÓDIGO REPETIDO DO ARQUIVO PROFILE.HTML -->
                    <div id="user-photo">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                            <defs id="defs3051">
                              <style type="text/css" id="current-color-scheme">
                                .ColorScheme-Text {
                                  color:#4d4d4d;
                                }
                                </style><style class="darkreader darkreader--sync" media="screen"></style>
                            </defs>
                           <path style="fill: currentcolor; fill-opacity: 1; stroke: none; --darkreader-inline-fill:currentcolor; --darkreader-inline-stroke:none;" d="M 11 3 A 3.9999902 4.0000296 0 0 0 7 7 A 3.9999902 4.0000296 0 0 0 11 11 A 3.9999902 4.0000296 0 0 0 15 7 A 3.9999902 4.0000296 0 0 0 11 3 z M 11 4 A 3 3.0000296 0 0 1 14 7 A 3 3.0000296 0 0 1 11 10 A 3 3.0000296 0 0 1 8 7 A 3 3.0000296 0 0 1 11 4 z M 11 12 A 7.9999504 8.0000296 0 0 0 3.0722656 19 L 4.0800781 19 A 6.9999604 7.0000296 0 0 1 11 13 A 6.9999604 7.0000296 0 0 1 17.921875 19 L 18.929688 19 A 7.9999504 8.0000296 0 0 0 11 12 z " class="ColorScheme-Text" data-darkreader-inline-fill="" data-darkreader-inline-stroke=""></path>
                          </svg>
        
                          <span id='level-id'>1</span>
                    </div>
                </div>
            </div>
        </div>
      </main>

      <th:block th:replace="components :: player"></th:block>
  	  <th:block th:replace="components :: scripts(${page})"></th:block>
      <script>
          $(function() {
              $('audio').audioPlayer();
          });

          $('#select-cover').on('click', e => {
              $('input[type=file]').click()
          })
      </script>
  </body>
  </html>