<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="www.thymeleaf.org">
<head th:replace="components :: head(${page}, ~{::meta})">
  <meta charset="UTF-8">
</head>
<body>
  <main th:replace="components :: login-register(${page}, ~{::form})">
    <form action="/cadastrar" method="POST">
      <div class="form-group mb-4">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Insira o nome" required>
      </div>
      <div class="form-group">
        <label for="email" th:text="${message != null ? message : 'E-mail'}" th:classappend="${message != null ? 'text-danger' : ''}"></label>
        <input type="email" name="email" id="email" th:classappend="${message != null ? 'is-invalid' : ''}" class="form-control" placeholder="email@exemplo.com" required>
      </div>
      <div class="form-group mb-4">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Sua senha" required>
      </div>
      <button id="login" class="btn btn-block login-btn" type="submit">Cadastrar-se</button>
    </form>
  </main>
  <th:block th:replace="components :: scripts(${page})"></th:block>
</body>
</html>
