.page-container {
    height: 100%;
}

    .podcast-list {
        padding: 0 3%;
    }

    .podcasts-row-container {
        display: flex;

        align-items: center;

        margin: 20px 0;
        padding: 15px;

        height: 250px;
        width: 100%;
    }

        .podcast-item {
            background-color: yellow;

            height: 100%;
            /*max-width: 200px;*/

            margin-right: 30px;

            border-radius: 10px;

            overflow: hidden;
        }

            .podcast-item:last-child {
                margin-right: 0;
            }

            .podcast-item img {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }