.page-container {
    height: 100%;
}
	
	.podcast-list-title {
		background-color: #ffc107;
		
		padding: 0px 25px;
		
		border-radius: 10px;
		
		width: fit-content;
		
		border: 2px solid white;
	}

    .podcast-list {
        padding: 0 3%;
    }

    .podcasts-row-container {
        display: flex;

        align-items: center;

        margin: 20px 0;
        padding: 15px;

        height: 250px;
        width: 100%;
        
        overflow: hidden;
    }

        .podcast-item {
            background-color: yellow;

            height: 200px;
            min-width: 200px;
            max-width: 200px;

            margin-right: 30px;

            border-radius: 10px;

            overflow: hidden;
        }

            .podcast-item:last-child {
                margin-right: 0;
            }

            .podcast-item img {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }

.slick-prev:before {
    position: relative;
    left: 25px;
}

.slick-next:before {
    position: relative;
    right: 25px;
}