* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #212529;
}

h1, h2, h3, h4, h5, h6, p {
    color:  white;
}

.page-container {
    transition: padding 0.3s ease-in-out;
}

#player-container {
    position: fixed;
    bottom: -100%;
    left: 0;

    min-width: 100vw;

    background-color: rgb(99, 99, 99);

    height: 100px;

    display: flex;

    padding: 10px 50px;
    
    justify-content: center;
    align-items: center;
    
    z-index: 5;

    transition: bottom 0.3s ease-in-out;
}

    #player-controller {
        display: flex;
        flex-direction: column;

        position: relative;

        height: 80%;
        width: 100%;
    }

#player-cover {
    height: 50px;
    width: 50px;

    position: absolute;

    left: 5%;

    border-radius: 5px;
}

.page-container header {
	position: relative;
	z-index: 2;
	
	background-color: #181a1c;
}

.page-container header svg {
    height: 40px;
    width: 40px;

    fill: white;
}

.custom-player-buttons {
    display: flex;
    width: 100%;

    justify-content: center;

    margin-bottom: 10px;
}

    .player-previous-button, .player-next-button {
        margin: 0 30px;
    }

        .player-previous-button svg *, .player-next-button svg * {
            height: 30px;
            width: 30px;
        }
        
    .player-previous-button:DISABLED, .player-next-button:DISABLED {
    	opacity: 0.5;
    }

.player-body {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;

    position: relative;
}

.audioplayer-volume {
    position: absolute;

    right: -80px;
}



/* ESTILIZA��O DO COMPONENTE "USER" DA P�GINA */
#user-field {
    display: flex;
    flex-wrap: wrap;

    text-align: center;

    position: relative;
}

 #user-photo {
     display: flex;
     position: relative;
 }

     #user-photo svg{
         height: 300px;
         width: 300px;

         fill: white;
     }

     #user-photo span {
         position: absolute;
         left: 15%;
         top: -30%;

         font-size: 20rem;
         font-weight: bold;
         color: white;
         
         height: 100%;

         z-index: -1;

         opacity: 0.09;
     }

     #user-info {
     	 display: flex;
     	 flex-direction: column;
         background-color: darkgray;
         border-radius: 10px;

         height: fit-content;

         padding: 10px 20px;
     }

	     #user-info > * {
	         color: white;
	
	         font-size: 1.5rem;
	     }
     
     	 #user-info span {
     	 	color: white;
     	 	
            padding: 3px 10px;
            
     	 	border-radius: 10px;
     	 	
     	 	font-size: 1rem;

     	 }
     	 
     	 #user-info button {
     	 	font-size: 1rem;
     	 	
     	 	margin-top: 10px;
     	 }
    
    #level-info-container {
        position: fixed;

        top: 5%;
        transform: translateX(-50%);
        left: 50%;

        width: 400px;
        max-height: 500px;
        
        overflow-y: scroll;

        background-color: gray;

        border-radius: 20px;
        
        padding: 10px 20px;
        
        border: 2px solid darkgray;

        display: none;
        transition: all 0.3s ease-in-out;
        
        z-index: 2;
    }

        #level-info-container::-webkit-scrollbar {
            display: none;
            width: 0;
        }

        #button-close-level-info {
            position: absolute;

            right: 0%;
            top: 0%;

            border-radius: 100%;

            font-size: 1.5rem;
            font-weight: bolder;
            color: white;
            border: none;

			height: 40px;
			width: 40px;            

			z-index: 3;
			
            background-color: #181a1c;
        }

        #level-info-container > h1 {
            background-color: darkgray;

            border-radius: 20px;

            padding: 5px 10px;
            
            font-weight: bold;
        }
    
    	#level-info-container ul {
    		padding: 0;
    	}

            #level-info-container li {
                list-style: none;
                
                text-align: left;
                
                border-width: 1px;
                border-style: solid;
                                
                border-radius: 20px;

                padding: 10px 15px;
                
                margin-bottom: 10px;
            }
            
            #level-info-container li:last-child {
            	margin-bottom: 0;
            }

                .level-info-item-header {
                    display: flex;
                }
                    .level-info-item-header span {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-weight: bold;

                        color: white;

                        font-size: 1rem;

                        padding: 5px 15px;

                        background-color: red;

                        border-radius: 5px;
                        
                        margin-right: 10px;
                    }